<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Filmes</title>

    <!-- css bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- meu css -->
    <link href="../css/estilo.css" rel="stylesheet" type="text/css" />

    <!-- favicon -->
    <link href="../imagens/movies_icon.png" rel="icon" type="images/png" />
  </head>
  <body data-bs-theme="dark">
    <!-- header -->
    <header th:include="base:: header"></header>

    <!-- main -->
    <main>
      <div class="container mt-100">
        <h1>Alterar <span th:text="${filme.titulo}"></span></h1>
        <hr />

        <!-- formulário -->
        <form class="mt-5" method="POST">
          <div class="row">
            <!-- título do filme -->
            <div class="col-12 col-md-7">
              <div class="mb-3">
                <label for="titulo" class="form-label">Título do filme</label>
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título do filme em português" th:value="${filme.titulo}" required />
              </div>
            </div>
            
            <!-- título do filme -->
            <div class="col-12 col-md-5">
              <div class="mb-3">
                <label for="diretor" class="form-label">Direção</label>
                <input type="text" class="form-control" id="diretor" name="diretor" placeholder="Nome do diretor principal do filme" th:value="${filme.diretor}" required />
              </div>
            </div>
            
            <!-- gênero -->
            <div class="col-12 col-md-8">
              <div class="mb-3">
                <label for="genero" class="form-label">Gênero</label>
                <input type="text" class="form-control" id="genero" name="genero" placeholder="Gênero do filme" th:value="${filme.genero}" />
              </div>
            </div>
            
            <!-- ano -->
            <div class="col-12 col-md-2">
              <div class="mb-3">
                <label for="ano" class="form-label">Ano de lançamento</label>
                <input type="number" class="form-control" id="ano" name="ano" placeholder="Ano" th:value="${filme.ano}" />
              </div>
            </div>
            
            <!-- duração -->
            <div class="col-12 col-md-2">
              <div class="mb-3">
                <label for="duracao" class="form-label">Duração em minutos</label>
                <input type="number" class="form-control" id="duracao" name="duracao" placeholder="Duração" th:value="${filme.duracao}" />
              </div>
            </div>
            
            <!-- produtora -->
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="produtora" class="form-label">Produtora</label>
                <input type="text" class="form-control" id="produtora" name="produtora" placeholder="Produtora" th:value="${filme.produtora}" />
              </div>
            </div>
            
            <!-- distribuidora -->
            <div class="col-12 col-md-6">
              <div class="mb-3">
                <label for="distribuidora" class="form-label">Distribuidora</label>
                <input type="text" class="form-control" id="distribuidora" name="distribuidora" placeholder="Distribuidora" th:value="${filme.distribuidora}" />
              </div>
            </div>

            <!-- botão -->
            <div class="col mt-5">
              <button type="submit" class="btn btn-info">Alterar filme</button>
            </div>

          </div>
        </form>
      </div>
    </main>

    <!-- footer -->
    <footer th:replace="base :: footer"></footer>
    
    <!-- js bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>